services:
  php:
    build:
      context: ./php-fpm
      args:
        PHP_VERSION: ${PHP_VERSION}
    working_dir: /var/www/html
    extra_hosts:
      - host.docker.internal:host-gateway
    ports:
      - ${PHP_PORT}:9003
    container_name: ${PROJECT_NAME}-php
    volumes:
      - ${PROJECT_DIRECTORY}:/var/www/html:cached